* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(135deg, rgb(56, 53, 53), black);
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-video {
    position: absolute;
    width: 60%;
    border-radius: 20px;
    transition: 0.5s ease;
}

.back-video:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 60px rgba(255, 255, 255, 0.3);
}



.content h1 {
    font-size: 100px;
    color: white;
    position: absolute;
    right: 330px;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
    transform: translateX(20px);

}

.content a {
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    position: relative;
    top: 170px;
    left: 250px;
    cursor: pointer;
}

.content a:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease-in;
}



@media (max-width: 500px) {
   body{
    width: 100%;
    height: auto;
    overflow: hidden;
   }
.hero {
    width: 100%;
    padding: 0px;
 
}

.back-video {
    position: absolute;
    width: 90%;
}




.content h1 {
    font-size: 30px;
    color: white;
    right: 20%;
}



.content a {
    padding: 4px 30px;
    top: 70px;
    left: 67px;
    cursor: pointer;
}

.content a:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease-in;
}






}